@mixin toBounce {
  animation: bounce-kf .64s ease-in-out;

  @keyframes bounce-kf {
    0%, 50%, 100% {
      transform: translateY(0);
    }
    25%, 75% {
      transform: translateY(-10%);
    }
  }
}

.angle-up {
  position: absolute;
  top: 50%;
  left: 38px;
  transform: translateY(-50%);

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $ccam-red;

    width: 70px;
    height: 70px;

    border-radius: 100%;
    cursor: pointer;

    &:hover {
      @include toBounce;
    }
  }

  &__icon {
    width: 60%;
    height: 60%;
    color: $color-white;
  }
}

@media (max-width: $xsm) {
  .angle-up {
    &__container {
      width: 50px;
      height: 50px;
    }
  }
}