$icon-color: $ccam-red;
$bg-color: $color-white;

@mixin toBounce {
  animation: bounce-kf .64s ease-in-out;

  @keyframes bounce-kf {
    0%, 50%, 100% {
      transform: translateY(0);
    }
    25%, 75% {
      transform: translateY(-10%);
    }
  }
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: $bg-color;

  .social-media__icon {
    width: 65%;
    height: 65%;
    color: $icon-color;
  }

  // invert
  &[data-invert='true'] {
    background-color: $icon-color;

    .social-media__icon {
      color: $bg-color;
    }
  }

  &:hover {
    @include toBounce;
  }
}