.text {
  // alternative types
  &.primary {
    color: $color-text-primary;
  }

  &.secondary {
    color: $color-text-secondary;
  }

  &.tertiary {
    color: $color-text-tertiary;
  }

  // sizes
  &.small {
    font-size: $size-font-text-small;
    line-height: $line-height-text-small;
  }

  &.medium {
    font-size: $size-font-text-medium;
    line-height: $line-height-text-medium;
  }

  &.large {
    font-size: $size-font-text-large;
    line-height: $line-height-text-large;
  }

  &.larger {
    font-size: $size-font-text-larger;
    line-height: $line-height-text-larger;
  }

  &.x-large {
    font-size: $size-font-text-x-large;
    line-height: $line-height-text-x-large;
  }

  &.xx-large {
    font-size: $size-font-text-xx-large;
    line-height: $line-height-text-xx-large;
  }

  // colors
  &.black {
    color: $black;
  }

  &.gray {
    color: $gray;
  }

  &.white {
    color: $white;
  }

  &.deep-blue {
    color: $deep-blue;
  }

  // weight
  &.light {
    font-weight: $weight-font-light;
  }

  &.regular {
    font-weight: $weight-font-regular;
  }

  &.semi-bold {
    font-weight: $weight-font-semi-bold;
  }

  &.bold {
    font-weight: $weight-font-bold;
  }

  // family
  &.quicksand {
    font-family: $quicksand;
  }

  &.noto-jp {
    font-family: $noto-jp;
  }
}
