.logos-ujw__container {
  background-color: $color-white;
  margin: 16px 0 72px;
  padding: 24px 0;
}

.logos-ujw {
  padding: 60px $distance-x-padding;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;

  border-style: solid;
  border-color: $ccam-red;
  border-width: 2px 0;

  .logo-ujw {
    width: 180px;
  }
}

@media (max-width: $xl) {
  .logo-ujw {
    width: 160px;
  }
}

@media (max-width: 900px) {
  .logo-ujw {
    width: 148px;
  }
}
