$background-color: $color-fake-white;

.workshop-description {
  position: relative;
  width: 100%;
  height: fit-content;

  padding: 40px $distance-x-padding;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;

  background-color: $background-color;

  &__image {
    min-width: 30%;
    max-width: 400px;
    border-radius: 24px;
  }

  &__text {
    text-align: justify;
  }

  &__stroke {
    height: 100px;
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%) scaleX(2.2);

    z-index: 20;
    fill: $background-color;
  }
}

@media (max-width: $md) {
  .workshop-description {
    padding-top: 50px;
    padding-bottom: 30px;
    flex-direction: column;
    gap: 32px;

    &__image {
      width: 80%;
      min-width: 80%;
    }
  }
}
