@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&display=swap');


// Fonts
$quicksand: 'Quicksand', sans-serif;
$noto-jp: 'Noto Serif JP', serif;
$figtree: 'Figtree', sans-serif;

// blacks and whites color
$color-black: #000000;
$color-white: #FFFFFF;
$color-gray-100: #83919E;
$color-gray-60: #C8CCDD;
$color-gray-50: #D8E1E9;
$color-gray-40: #EFEEFC;
$color-gray-20: #F3F3F9;
$color-fake-white: #FAFAFF;
$color-fake-black: #011F3B;
$color-light-gray: #F5F5FB;
$color-gray-less: #EBEDF4;


// palette colors
$coral-pink: #F0555A;
$color-fake-black: #011F3B;
$color-dark-blue: #06083A;
