@import "./fonts.scss";

// Fonts
$quicksand: 'Quicksand', sans-serif;
$noto-jp: 'Noto Serif JP', serif;
$figtree: 'Figtree', sans-serif;
$hiro-misake: 'HIRO MISAKE';

// blacks and whites color
$color-black: #000000;
$color-white: #FFFFFF;
$color-gray-100: #83919E;
$color-gray-60: #C8CCDD;
$color-gray-50: #D8E1E9;
$color-gray-40: #EFEEFC;
$color-gray-20: #F3F3F9;
$color-fake-white: #FAFAFF;
$color-fake-black: #011F3B;
$color-light-gray: #F5F5FB;
$color-gray-less: #EBEDF4;


// palette colors
$coral-pink: #F0555A;
$medium-red-violet: #BB3B42;
$color-fake-black: #011F3B;
$color-dark-blue: #06083A;
