@import './abstracts/variables.scss';

// main colors
$main-background: $color-gray-20;
$ccam-red: $coral-pink;

// distances
$distance-x-padding: min(8%, 80px);
$banner-height: 100vh; // max(72vh, 560px);
$mobile-banner-height: 360px;
$main-content-gap: 100px;
$mobile-content-gap: 60px;

// text color type
$black: $color-black;
$gray: $color-gray-100;
$white: $color-white;
$deep-blue: $color-fake-black;

// fonts-types
$main-font: $quicksand;

// font-weight
$weight-font-light: 300;
$weight-font-regular: 400; // (default)
$weight-font-semi-bold: 500;
$weight-font-bold-medium: 600;
$weight-font-bold: 700;

// fonts-sizes
$size-font-text-small: .625rem; // 10px
$size-font-text-medium: .75rem; // 12px (default)
$size-font-text-large: .875rem; // 14px
$size-font-text-larger: 1rem; // 16px
$size-font-text-x-large: 1.25rem; // 20px
$size-font-text-xx-large: 1.5rem; // 24px

// height-font
$line-height-text-small: .875rem; // 14px
$line-height-text-medium: 1rem; // 16px (default)
$line-height-text-large: 1.25rem; // 20px
$line-height-text-larger: 1.5rem; // 24px
$line-height-text-x-large: 1.75rem; // 28px
$line-height-text-xx-large: 2rem; // 32px

// buttons
$background-color-button: $ccam-red;
$text-color-button: $color-white;
$button-border-radius: 100px;

$padding-button-medium: 6px 10px;
$padding-button-x-large: 8px 18px;
$padding-button-xx-large: 10px 25px;

// responsive design
$xsm: 480px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xl2: 1536px;
