.layout-template {
  width: 100%;
  height: 100%;

  &__body .images-loaded-div {
    width: 100%;
    height: 100%;
    position: relative;

    background-image: url('@/assets/background.png');
    background-attachment: fixed;
    background-size: 500px;
    background-repeat: repeat repeat;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: $main-content-gap;

    overflow: hidden;
  }
}

@media (max-width: $md) {
  .layout-template {
    &__body .images-loaded-div {
      gap: $mobile-content-gap;
    }
  }
}
