@mixin set-full {
  width: 100%;
  height: 100%;
}

.banner {
  width: 100%;
  height: $banner-height;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  &__image {
    top: 0;
    position: absolute;
    object-fit: cover;

    @include set-full;
  }

  &__title {
    z-index: 10;
    font-size: 4rem;
  }
}

@media (max-width: $lg) {
  .banner__title {
    font-size: 3rem;
  }
}

@media (max-width: $sm) {
  .banner__title {
    font-size: 2.8rem;
  }
}
