.collapsed-menu {
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;

  &__hamburger {
    padding-right: 4px;
  }
}

@media (max-width: $md) {
  .collapsed-menu {
    display: flex;
  }
}
