.footer {
  position: relative;
  bottom: 0;
  background-color: $color-white;
  height: 150px;

  border-top: 1px solid $ccam-red;

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__social-media {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);

    .social-media {
      width: 40px;
      height: 40px;
    }
  }

  &__copyright {
    font-size: 11px;
    margin: 10px auto 0;
    text-align: center;
  }

  &__follow-us {
    margin-bottom: 5px;
  }
}

@media (max-width: $sm) {
  .footer {
    &__social-media {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      padding-bottom: 15px;
    }
  }
}
