.gallery {
  margin: 0 auto;
  padding: 120px 0 100px;

  width: 92%;
  max-width: 1600px;

  &__title {
    font-size: 3rem;
    padding: 0 32px 40px;
  }

  &__images {
    display: grid;
    justify-content: stretch;
    grid-template-columns: repeat(4, 1fr);

    gap: 16px;
  }
}

@media (max-width: $xl) {
  .gallery {
    &__images {
      grid-template-columns: repeat(3, 1fr);;
    }
  }
}

@media (max-width: $lg) {
  .gallery {
    padding: 100px 0 80px;

    &__images {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: $md) {
  .gallery {
    padding: 80px 0 60px;
  }
}

@media (max-width: $sm) {
  .gallery__images {
    grid-template-columns: repeat(1, 1fr);;
  }
}
