$sidebar-width: 80px;

.sidebar {
  margin: 0;
  display: block;
  background: $ccam-red;

  position: fixed;
  top: 0;
  right: 0;

  width: $sidebar-width;
  height: 100%;

  z-index: 100;

  &__hamburger {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
  }

  &__social-media {
    position: absolute;
    bottom: 30px;
    width: 100%;

    &__text {
      margin: 0 0 35px;
      transform: rotate(90deg);
    }
  }

  &__social-media-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: $sm) {
  .sidebar {
    display: none;
  }
}
