.ujw-gallery-header__container, .ujw-gallery__section {
  position: relative;
}

.ujw-gallery__container {
  margin-top: 40px;
}

.ujw-gallery__stroke {
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;

  z-index: 20;
  fill: $medium-red-violet;

  $angle: 2deg;

  &.odd {
    transform: translate(-50%, 50%) scale(2.2, .8) rotate($angle);
  }

  &.even {
    transform: translate(-50%, 40%) scale(2.3, .9) rotate(-1 * $angle);
  }

  // header
  &.stroke-header-top {
    top: 0;
    fill: $color-white;
    z-index: 5;
    transform: translate(-50%, -50%) scaleX(2.2) rotate($angle);
  }

  &.stroke-header-bottom {
    transform: translate(-50%, 50%) scale(-2.1, .8) rotate($angle);
  }
}

.ujw-gallery {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    filter: brightness(.5);
  }

  &__header {
    background-color: $color-white;
    padding: 10px $distance-x-padding 36px;
    position: relative;
    z-index: 10;
  }

  &__title {
    font-size: 3rem;
  }
}

@media (max-width: $xl) {
  .ujw-gallery__title {
    font-size: 2.6rem;
  }
}

@media (max-width: $lg) {
  .ujw-gallery__title {
    font-size: 2.4rem;
  }
}
